<p>
		<a class="fancybox" href="/1_b.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="/1_s.jpg" alt="" /></a>

		<a class="fancybox" href="/2_b.jpg" data-fancybox-group="gallery" title="Etiam quis mi eu elit temp"><img src="/2_s.jpg" alt="" /></a>

		<a class="fancybox" href="/3_b.jpg" data-fancybox-group="gallery" title="Cras neque mi, semper leon"><img src="/3_s.jpg" alt="" /></a>

		<a class="fancybox" href="/4_b.jpg" data-fancybox-group="gallery" title="Sed vel sapien vel sem uno"><img src="/4_s.jpg" alt="" /></a>
	</p>

  <a class="fancybox" href="/5_b.jpg" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit"><img src="/5_s.jpg" alt="" /></a>

<h1> button slider </h1>
<p>
		<a class="fancybox-buttons" href="/1_b.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="/1_s.jpg" alt="" /></a>

		<a class="fancybox-buttons" href="/2_b.jpg" data-fancybox-group="gallery" title="Etiam quis mi eu elit temp"><img src="/2_s.jpg" alt="" /></a>

		<a class="fancybox-buttons" href="/3_b.jpg" data-fancybox-group="gallery" title="Cras neque mi, semper leon"><img src="/3_s.jpg" alt="" /></a>

		<a class="fancybox-buttons" href="/4_b.jpg" data-fancybox-group="gallery" title="Sed vel sapien vel sem uno"><img src="/4_s.jpg" alt="" /></a>
	</p>


<script type="text/javascript">
  $(document).ready(function() {
	  $('.fancybox').fancybox();
   
  $('.fancybox-buttons').fancybox({
        wrapCSS    : 'fancybox-custom',
				openEffect  : 'none',
				closeEffect : 'none',
				prevEffect : 'none',
				nextEffect : 'none',
				closeBtn  : false,
				helpers : {
					title : {
						type : 'inside'
					},
          overlay : {
						css : {
							'background' : 'rgba(238,238,238,0.85)'
						}  
				  },
        buttons	: {}
      },
			afterLoad : function() {
					this.title = 'Image ' + (this.index + 1) + ' of ' + this.group.length + (this.title ? ' - ' + this.title : '');
				}
			}); 
    
  });
</script>
