<!DOCTYPE html>
<html>
<head>
  <title>NewOmniauth</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
	<!-- Add fancyBox main JS and CSS files -->
	<script type="text/javascript" src="../assets/source/jquery.fancybox.js?v=2.1.2"></script>
	<link rel="stylesheet" type="text/css" href="../assets/source/jquery.fancybox.css?v=2.1.2" media="screen" />
  <!-- for button helper-->

	<link rel="stylesheet" type="text/css" href="../assets/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" />
	<script type="text/javascript" src="../assets/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
